@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --cell-size: 15vh;
    --mark-size: calc(var(--cell-size) * .9);
    --circle-color: red;
    --X-color: blue;
    --background: rgb(22, 196, 22);
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Mochiy Pop P One', sans-serif;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);   
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}



.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    background: rgba(0, 0, 255, 0.178);
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background: rgba(255, 0, 0, 0.199)
}

.cell.x::before,
.cell.x::after{
    background-color: var(--X-color);
}


.cell.circle::before{
    background-color: var(--circle-color)
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);

}


.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}



.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--background);
}

.winning-message {
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    display: none;
    position: fixed;
    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: rgb(72, 151, 253);
    color: white;
    border-radius: 20px;
    border: none;
    padding: .25em .5em;
    cursor: pointer;
    
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.winning-message.show button {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
